body {
    font-family: Arial;
    background: #202020;
    text-align: left;
    padding: 8px;
    max-width: 960px;
    margin: auto;
    color: #FFFFFF;
}

h1 {
    text-align: center;
    padding: 8px;
}

code {
    font-size: 16px;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #303030;
}

::-webkit-scrollbar-thumb {
  background: #808080;
}

::-webkit-scrollbar-thumb:hover {
  background: #606060;
}

/* Code editor */

select {
	background-color: #404040;
	color: #FFFFFF;
    margin: 0px 12px 12px 12px;
}

option {
    background: #181818;
    border: 1px solid #404040;
    color: #FFFFFF;
}

textarea {
    width: 100%;
    background: #000000;
    color: #FFFFFF;
    border: 1px solid #404040;
    padding: 8px;
}

textarea:focus, input:focus{
    outline: none;
}

textarea::-webkit-resizer {
    background-color: #404040;
}

.code_container {
    display: flex;
    border: 1px solid #404040;
    background: #404040;
    margin-bottom: 8px;
    height: 160px;
    overflow: hidden;
    resize: vertical;
}

.line_numbers {
    padding: 8px 6px;
    background: #181818;
    color: #808080;
    text-align: right;
    user-select: none;
    font-family: monospace;
    overflow: hidden;
}

/* Buttons */

button {
    background: #2080FF;
    color: #FFFFFF;
    box-sizing: border-box;
    border: 0 solid #000;
    max-width: 160px;
    padding: 6px 10px;
    margin: 10px 6px 10px 0px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    background: #606060;
    cursor: not-allowed;
}

/* Slider */

#speed_label {
    margin-left: 6px;
    color: #C0C0C0;
}

input[type="range"] {
    accent-color: #2080FF;
    vertical-align: middle;
    cursor: pointer;
}

/* Input */

input[type="text"] {
    background: #000000;
    color: #FFFFFF;
    border: 1px solid #404040;
    padding: 6px;
    margin: 6px 12px 6px 6px;
}

/* Tape */

#tape {
    display: flex;
    gap: 4px;
    margin: 12px 0px;
    overflow-x: hidden;
    justify-content: center;
}

.cell {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #404040;
    text-align: center;
    line-height: 32px;
    background-color: #000000;
    justify-content: center;
    flex: 0 0 auto;
    font-weight: bold;
}

.head {
    background-color: #0020E0;
}

#status {
    margin: 10px 0px;
    color: #C0C0C0;
}